# Django #
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environments #
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code #
.vscode/

# Virtual Environment #
env/
inventory/tests.py
inventory/ts.py